@import 'mixins';

.videSlider{
	height: 100vh;;
	position: relative;

	@include max($sm){
		height: 30vh;
	}
	@include minMax($md, $lg){
		height: 40vh;
	}


	.example-marquee {
		position: relative;
	}

	.content {
		display: table;
		width: 100%;
		min-height: 100vh;
		z-index: 1;
		position: relative;

		@include max($sm){
			min-height: 30vh;
		}
		@include minMax($md, $lg){
			min-height: 40vh;
		}
	
	}

	.content .inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding-left: 16px;
		padding-right: 16px;
	}
	
	.video-background-controls button {
		font-size: 32px;
		display: inline-block;
		padding: 0px;
		margin: 0px;
		height: 32px;
		width: 32px;
		border-radius: 16px;
		line-height: 32px;
		border: none;
		background: none;
		// -webkit-appearance: none;
		color: white;
		filter: drop-shadow(0px 0px 1px black);
		cursor: pointer;
		opacity: 1;
		transition: all 250ms ease-in-out;
		margin-left: 10px;
	}

	.video-background-controls button:hover {
		opacity: 0.5;
	}

	iframe {
		transition: opacity 500ms ease-in-out;
		transition-delay: 250ms;
	}

	.bannerSwiper{
		width:50%;
		@include verticalcenter;
		position: absolute;
		top:45%;
		left:50%;
		margin-left:-25%;

		@include max ($md){
			left:0;
			margin-left:0;
		}

		h4{
			font-size:clamp(1.5rem, 3.5vw, 3.5rem);
			color:$white;
			font-weight: 200;
			text-shadow: 0 0 8px #333;
		}
	}
}
