@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@mixin shadowbot {
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
}


@mixin fweight($weight, $ffamily, $fsize, $fcolor){
  font-weight:$weight;
  font-family: $ffamily;
  font-size:$fsize;
  color:$fcolor;
}


@mixin siteMain {
  font-family: "Poppins", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $fsize;
  line-height: $fsize + 10;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
}

@mixin verticalcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

@mixin bluegradient {
  background: #014d98;
  background: linear-gradient(
    0deg,
    rgba(1, 77, 152, 1) 0%,
    rgba(1, 77, 152, 1) 100%
  );
}

@mixin borderRadius($topLeft, $topRight, $bottomLeft, $bottomRight) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}

//mixins for devices responsive
@mixin minMax($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin min($min) {
  @media (min-width: $min) {
    @content;
  }
}

@mixin max($max) {
  @media (max-width: $max) {
    @content;
  }
}