//variables
$black: #000;
$white: #fff;
$red: #AA0607;
$fsize: 15px;
$gray: #7b7b7b;
$violet:#874080;
$blue:#4DBBC8;
$green:#009E1A;
$darkgray:#5B5B5B;
$ffamily:"Poppins", sans-serif;

//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
