@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vxfala');
  src:  url('../fonts/icomoon.eot?vxfala#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vxfala') format('truetype'),
    url('../fonts/icomoon.woff?vxfala') format('woff'),
    url('../fonts/icomoon.svg?vxfala#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked:before {
  content: "\e900";
}
.icon-facemask:before {
  content: "\e901";
}
.icon-industry:before {
  content: "\e902";
}
.icon-management:before {
  content: "\e903";
}
.icon-mission:before {
  content: "\e904";
}
.icon-mountain:before {
  content: "\e905";
}
.icon-target:before {
  content: "\e906";
}
.icon-value:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-arrowleft:before {
  content: "\e909";
}
.icon-arrowright:before {
  content: "\e90a";
}
.icon-arrowup:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-customerservice:before {
  content: "\e90d";
}
.icon-envolope:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-fast-delivery:before {
  content: "\e910";
}
.icon-garbage:before {
  content: "\e911";
}
.icon-globe:before {
  content: "\e912";
}
.icon-high-speed-train:before {
  content: "\e913";
}
.icon-linkedin:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
}
.icon-play-button:before {
  content: "\e916";
}
.icon-portfolio:before {
  content: "\e917";
}
.icon-progress-chart:before {
  content: "\e918";
}
.icon-research:before {
  content: "\e919";
}
.icon-rocket:before {
  content: "\e91a";
}
.icon-settings:before {
  content: "\e91b";
}
.icon-success:before {
  content: "\e91c";
}
.icon-training:before {
  content: "\e91d";
}
.icon-twitter:before {
  content: "\e91e";
}
