@import 'variables';
@import 'mixins';
@import 'masterSlider';
@import 'gridgallery';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    @include siteMain;
}

// #nav, #main, #footer, .subpageMain{
//     display: none;
// }
#main{
    min-height: 600px;
}

.custom-container{
    width:90%;
    margin:0 auto;
}
.fwhite{
    color:$white;
}
.fsbold{
    font-weight:600;
}

.masterSlider{
    @include max($lg){
        padding-top:76px;
        height: 40vh;
    }

    .swiper-container{
        @include max($md){
            width:100%;
        }
    }
    .upk-salf-slider-wrapper{
        @include max($md){
            height:340px;
            padding:0;

            .upk-salf-title{
                color:$white!important;
            }
            .upk-salf-desc{
                color:$white!important;
                display:none;
            }
            .link--arrowed{
                color:$white!important;
            }
        }
    }
}

.subTitle{
    color:$violet;
    border-bottom:1px solid $violet;
    display:inline;
    padding-bottom:8px;
}

.link{
    text-decoration: none;
    @extend .fsbold;
    color:$black;

    &:hover{
        color:$violet;
    }
    .icomoon{
        position: relative;
        top:1px;
    }
}

a.readMorelink{   
    @include fweight(700, $ffamily, $fsize, $violet);
    text-decoration: none;

    &:after{
        content:'';
        width:25px;
        height:2px;
        background:$violet;
        position:absolute;
        right:-35px;
        top:10px;
        @include transition;
    }   
    &:before{
        content:'';
        width:25px;
        height:2px;
        background:$violet;
        position:absolute;
        left:-35px;
        top:10px;
        @include transition;
    }   
    
    &:hover{
        &:after{
            right:-45px;
        }
        &:before{
            left:-45px;
        }
    }
}  

 .sectionTitle{
    @include fweight(700, $ffamily, $fsize * 2, 
    $black);  

    span{
        font-weight:200;
    }
}

.sticked{
   @include shadowbot;  

   @include max($sm){
    padding:0 0 10px 0;   
   }
   .bsnav{
       padding:4px 25px;

       @include max($md){
        padding:0;       
       }      
   }
   .navbar-brand{
       img{
           width:85px!important;
       }
   }
}


header{     
    @include transition;    
    background:$white;
    .bsnav{  
        padding-top:10px;
        padding-bottom:10px;
        .navbar-brand{
            img{
                width:125px;
                @include transition;

                @include max($lg){
                    width:85px;
                }
            }
        }
        .nav-item{
            .nav-link{               
               &:hover{
                    color:$violet;
               }   
               .icomoon{
                   font-size:$fsize + 3;
                   position:relative;
                   top:2px;
               }            
            }
            .active{
                 color:$violet;
                 padding:20px 15px;
                 display:block;
                 text-decoration: none;

                 @include max($sm){
                     color:$violet!important;
                 }
            }
        }        
    }   

    .navbar-toggler{
        &:focus{            
            box-shadow:none;
        }
    }

    .header-product-col{
        text-decoration:none;
        padding:15px;
        display: inline-block;
        div{
            margin-left:15px;
            align-self: center;

            h6{
                font-size:$fsize + 1;
                @extend .fsbold;
                color:$black;
                text-align: left;
            }
            p{
                font-size:$fsize - 3;
                color:$darkgray;
                margin:0;
                padding:0;
                line-height:18px;
                display: none;
              
            }
        }
        img{
            width:60px;
            height:60px;
            object-fit: cover;
            padding:3px;
            background:$white;
            @include shadowbot;
            
        }

        &:hover{
            h6{
                color:$violet;
            }
        }
    }
    

    .rightnav{
        .nav-item{
            .nav-link{
                color:$white;
                background:$violet!important;
                border:1px solid transparent;

                &:hover{
                    border:1px solid $violet;
                    color:$violet;
                    background:$white!important;
                }
            }
        }
    }
}

.customBtn{
    background:$violet;
    color:$white;
    padding:10px 20px!important;
    border:1px solid transparent;
    @include transition;
    text-decoration: none;
    display: inline-block;
    @include shadowbot;

    &:hover{
        background: $white;
        border:1px solid $violet;
        color:$violet;
    }
}

.isoSection{
    background:$violet;
    padding:25px 0;
    @include max($sm){
        padding:15px 0;        
    }
    p{
        @include fweight(200, $ffamily, $fsize+5, $white);  
        span{
            font-weight:600;
        }
        @include max($sm){
            padding:0 12px;
            @include fweight(200, $ffamily, $fsize, $white);  
        }
    }
}

.popularProducts{  
    .swiper-container{
        @include max($sm){
            margin-left:10px;
        }
    }
    .productsSlider{
        padding-top:70px;        

        .swiper-slide{
            text-align: center;
            img{
                @include transition;
                width:200px;
                height:200px;
                object-fit: cover;
                border-radius: 50%;
                border:10px solid $white;
                &:hover{
                    filter: grayscale(100%);
                    transform: translateY(-25px);
                   box-shadow: 0 0 10px #ccc;
                }
            }
           article{
               padding:0 15px 0 0;
               text-align: center;
                h5{
                @include fweight(600, $ffamily, $fsize + 2, $black);
                padding:10px 0;
            }
            p{
                font-size:$fsize - 1;
                color:lighten($black, 50%);
            }            
           }         
        }
        .swiper-button-next, .swiper-button-prev{
            top:26px;
            &:after{
                color:$violet;
                font-size:$fsize + 10;
            }
        }
        .swiper-button-next{
            right:47%;

            @include max ($lg){
                right:38%;
            }
        }
        .swiper-button-prev{
            left:47%;

            @include max ($lg){
                left:38%;
            }

            &:after{
                color:$violet;
                font-size:$fsize + 10;
            }
        }
    }
}

.productsSliderProductDetail{
    padding-top:50px;
}

.realtedProducts{
    padding-top:0;
    background:url(../img/worn-dots.png)repeat 0 0;

    .h4{
        position: relative;
        top:54px;
    }

    .swiper-button-next, .swiper-button-prev{
        top:14px;
        &:after{
            color:$violet;
            font-size:$fsize + 10;
        }
    }
    .swiper-button-next{
        right:0;

        @include max ($md){
            right:0;
        }
    }
    .swiper-button-prev{
        left:95%;

        @include max ($lg){
            left:80%;
        }

        &:after{
            color:$violet;
            font-size:$fsize + 10;
        }
    }
}

.qualityPolicy{
    background:lighten($violet, 55%);
    min-height:500px;

    .img-fluid{
        height:100%;
        object-fit: cover;
    }

    .qualityTextLink{
        @include fweight(600, $ffamily, $fsize, $black);
    }
    .qualityCol{
        padding:10px 0;
            .iconDiv{
            width:128px;
            height:128px;
            background:$violet;
            margin:0 auto;
            @include borderRadius(50%, 50%, 50%, 50%);
            @include verticalcenter;
            margin-bottom:15px;  

            .icomoon{
                font-size:$fsize * 3 + 5;
                color:$white;
            }
        }
     h6{
        @include fweight(600, $ffamily, $fsize + 1, $black);
    }
    }
}

.aboutHome{
    padding:50px 0;

    h2{
        @include fweight(700, $ffamily, $fsize * 4, $black);

        @include max($md){
          @include fweight(700, $ffamily, $fsize * 2, $black);
        }
    }
}

.ourStrength{
    background:url(../img/strengthbg.jpg)no-repeat 0 0;  
    background-size: cover; 
    position: relative;

    &:before{
       content:'';
       background-color:rgba(0, 61, 68, 0.9);
       position: absolute;
       top:0;
       left:0;
       bottom:0;
       right:0;
    }

    .strengthItem{
        padding:12px 0;      
        position: relative;

        .strengthDesc{
            width:75%;
            margin:12px auto;
            p{
                font-size:$fsize + 1;
            }
        }

         @include max($lg){
            margin-right:0px;
        }   

        .strengthIcon{
            width:112px;
            height:112px;
            background:$blue;
            border-radius:50%;
            @include verticalcenter;   
            border:5px solid $white;
            @include transition;

            &:hover{
                border:5px solid $violet;
                transform: translateY(-20px);
            }
            
            @include max($md){
                margin:0 auto;
            }                 

            .icomoon{
                font-size:$fsize * 3;
                color:$white;
            }
    }  
        p{
            color:$white;
        }       
    }
 
    h2{
        @include fweight(700, $ffamily, $fsize * 2, $white);
    }
}

footer{
    .topFooter{
        background:$violet;
        color:$white;
        h3{
           @include fweight(600, $ffamily, $fsize + 5, $white); 
           padding-bottom:20px;

           @include max($sm){
               padding:10px 0;
           }
        }   
        .footerLinks{
            li{
                list-style: none;
                a.nav-link{
                    color:$white;
                    text-decoration: none;       
                    display:block;
                    border-bottom:1px solid lighten(rgba($violet, 0.3), 50%);
                    padding:.5rem 0;                 
                    @include transition;  
                    position: relative;                  

                    &:hover{
                        border-bottom:1px solid lighten(rgba($violet, 1), 50%);
                       transform: translateX(15px);             
                    }
                }
                .active{
                   color:$white;
                    text-decoration: none;       
                    display:block;
                    border-bottom:1px solid lighten(rgba($violet, 0.3), 50%);
                    padding:.5rem 0;          
                    @include transition;   
                    border-bottom:1px solid $white;  
                    transform: translateX(15px);         
                }
            }
        } 
        .footerSocial{

            @include max($md){
                padding-bottom:20px;
            }
            a{
                padding:12px;
                background:$white;
                text-align:center;
                display:inline-block;
                margin-right:5px;
                @include transition;
                text-decoration: none;
                width:40px;
                height:40px;
                line-height:22px;

                .icomoon{
                    font-size:$fsize + 2;
                    color:$black;
                }

                &:hover{
                    background:darken($violet, 10%);

                    .icomoon{
                        color:$white;
                    }
                }
            }
        }    
    }

    .bottomFooter{
        background:darken($violet, 10%);
        text-align:center;
        color:$white;
        padding:20px 0;

        p{
            padding:0;
            margin:0;
            font-size:$fsize - 2;
        }
    }

    .moveTop {
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    position: fixed;
    bottom: 11px;
    right: 25px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    @include transition;
    display: none;
    background: $blue;
    z-index: 9999;
    text-decoration: none;

    &:hover {
      border-radius: 50%;
    }
    .icomoon {
      color: $white;
    }
  }
}

.customForm{
    background:lighten($blue, 42%);
    padding:25px;            
    border:2px solid transparent;
    @include transition;   
    @include shadowbot;
  
    .form-group{
        background:$white;               
        margin-bottom:10px;
        padding:12px;
    }

    label{
        font-size:$fsize - 2;
        padding-bottom:0;
        margin-bottom:2px;       
    }
    .form-control{       
        background:none;
        border:1px solid lighten($blue, 20%);
        border-radius:0;
        height:40px;
        font-size:$fsize - 1;        
        @include transition;

        &:focus{
            border:1px solid lighten($blue, 20%);
            outline:none;
            box-shadow: none;
        }
        &:hover{
            border:2px solid $blue;
        }
    }
}

.utubebutton{
    position:absolute;
    top:50%;
    left:50%;
    border-radius:50%;
    width:60px;
    height:60px;
    text-align: center;
    line-height: 29px;
    display: inline-block;
    @include verticalcenter;
    margin-top:-30px;
    margin-left:-30px;

    .icon-play-button{       
        font-size:$fsize + 10;
    }
    &:hover{
        background:$white;
        .icomoon{
            color:$violet;
        }
    }
}

//sub page styles 
.subPage{
    min-height:400px;
    padding-top:95px;

    @include max($md){
        padding-top:80px;
    }

    //header subpage 
    .subPageHeader{
        background-color:$blue;        

        .leftsubpageHeader{           
            padding-top:50px;
            padding-bottom:50px;

            @include max($md){
                padding-top:20px;
                padding-bottom:0px;                
            }

            figure{
                position:relative;
                .customBtn{
                    @extend .utubebutton;
                }
                img{
                    width:100%;
                }
            }

            h1{               
                font-size:clamp(1.2rem, 2vw, 2rem);
                font-weight:600;
                padding:0;
                margin:0;
                color:$white;

                @include max($md){
                    text-align: left;
                    font-size:clamp(1.2rem, 2.5vw, 2rem);
                    padding:15px 25px;
                }
            }
        }
       
        .breadcrumb{
            padding-left:25px;
            margin:0;

            .breadcrumb-item{
                font-size:$fsize - 2;
                &:before{
                    content: "\e90a";
                    color:$white;
                    font-family: 'icomoon' !important;
                    font-size:$fsize - 5;
                    position:relative;
                    top:1px;
                }
                &:first-child{
                    &:before{
                        content:'';
                    }
                }
                a{
                    color:$white;
                    text-decoration: none;
                    font-size:$fsize - 2;
                }                
            }
            .active{
                color:darken($blue, 25%);
            }
        }
    }
    //sub pgae header ends 

    .productDetailHeader{
        background:url(../img/washi.png) repeat 0 0!important;
        background-size:cover;  
        background-color:$white;
        padding:15px 0;

        @include max($sm){
            padding:0;
        }

        h1{
            color:$violet;
        }
        
        .leftsubpageHeader{  
            padding-top:15px;
            padding-bottom:15px;    

            @include max($sm){
                padding-top:0;               
            }
            figure{
                position: relative;
                padding:10px;
                background:$white;
                margin:0;
                @include shadowbot;

                @include max($md){
                    padding:0;
                }
               
                .headerimg{
                    border-radius:10px;
                }                
            }  
        }
        
    }    


    //sub page body 
    .subpageBody{
        padding:50px 0;
        
        .mobileNav.sticky{
            
                @include max($md){
                    width:91%;
                }
            
        }

        @include max($sm){
            padding:15px 0;
        }

        p{
            font-size:$fsize;
            padding-bottom:20px;
            text-align: justify;
            margin-bottom:0;            
        }

        .list-items{
            margin:15px 0;
            li{
                font-size:$fsize;
                padding-bottom:20px;
                text-align: justify; 
                list-style:none;
                position:relative;

                &:before{
                    content:'';
                    width:10px;
                    height:10px;
                    background:$violet;
                    border-radius:50%;
                    position:absolute;
                    top:8px;
                    left:-22px;
                    border:2px solid darken($violet, 10%);
                }
            }
        }

        h2{
            font-size:clamp(2rem, 2.0vw, 1rem);
            font-weight:600;
        }
        h6{
            color:$violet;            
            display:inline;
            padding-bottom:5px;
            border-bottom:1px solid $violet;
            margin-bottom:20px;
        }
        .brdimg{
            position:relative;

            &:before{
                content:'';
                width:100%;
                height:100%;   
                border:10px solid $blue;
                position:absolute;
                top:-15px;
                left:-15px;
                
                @include max($md){
                    display:none;
                }
            }
        }
        .regulatoryImg{
            position:relative;
            @include transition;
            height:314px;
            object-fit: cover;

            &:hover{
                filter: grayscale(100%);
            }
        }        
       

        .rtContact{
            background:$white;
            min-height:500px;
            padding:30px; 

            .table{
                td{
                    padding-top:15px;
                    padding-bottom:15px;
                }
                td.leftlabel{
                    padding-right:25px;
                }
            }
        }   

        ::placeholder{
            font-size:$fsize - 3;
            color:lighten($black, 25%);
        }
        .address{
            .leftlabel{
                color:$violet;
                font-weight:600;
            }
            td{
                p{
                    font-size:$fsize - 1!important;
                }
            }
        }

        .bannerProduct{
            position:relative;

            .videoIcon{
                background:rgba($black, 0.5);
                width:30%;
                height:100%;
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                @include verticalcenter;                

                a{
                    text-decoration: none;
                    @include transition;
                    .icomoon{
                        color:$white;
                        font-size:$fsize * 5;
                         @include transition;

                         @include max($sm){
                             font-size:$fsize * 3;
                         }
                    }

                    &:hover{
                        .icomoon{
                            color:rgba($blue, 0.8);
                        }
                    }
                }
            }
        }        
    }
    //sub page body ends    
}

.video-modal{
    .modalvideo{
        height:480px;
    } 
    .close{
        background:none;
        border:none;
        .icomoon{
            font-size:$fsize * 2;
        }
    }
}

@include max($lg){
    .bsnav-mobile .navbar-nav .nav-item .active{
        color:$white;
        text-decoration: none;
        display: block;
        padding:12px;
        background:$violet;
        margin-bottom:5px;
        font-size:$fsize - 1;
    }
    .bsnav-mobile .navbar-nav .nav-item .nav-link{
        padding:12px;
         display: block;
         background:lighten($black, 87%);
         margin-bottom:5px;
         font-size:$fsize - 1;
    }
    .submenu{
        padding-top:0!important;
        padding-bottom:0!important;
        .nav-link{
           background:lighten($black, 95%)!important; 
        }

        .activesubnav{
            background:$violet;
            color:$white;
            display:block;
            padding:10px;
            text-decoration: none;  
        }
    }
}

.productCard{
    @include shadowbot;
    @include transition;

    img{
       @include transition;
    }
    &:hover{
        box-shadow: none;
        border:1px solid rgba($black, 0.1);

        .card-title{
            color:$violet;
        }
        img{
            filter:grayscale(100%);
        }
    }
   
    .card-title{
        font-size:$fsize + 2;
        @extend .fsbold;
    }
    .card-text{
        font-size:$fsize - 1;       
        color:$darkgray;
        text-align: left!important;
        padding-bottom:0;
    }
    .card-link{
        color:$black;
        text-decoration: none;
        @extend .fsbold;

        &:hover{
            color:$violet;
        }
    }
}

.featured-services{
    min-height:200px;
    padding:50px 0;

    @include max($md){
        min-height:auto;
        padding:20px 0;
    }

    h2{
        font-size:clamp(1.2rem, 1.5vw, 1.5rem)!important;
        color:$violet;
        @extend .fsbold;
    }
    .h4{
        color:$violet;
        border-color:$violet;
    }
}

.stickynav {
    position: fixed;
    top: 65px;
    @include shadowbot;  
    z-index: 99;
    @include max($md){
        width:91%;   
    }
  }
  

.navbar-productdetail{    
    box-shadow: none;
    background:$white;   
    z-index:99;    

    @include max($lg){
        display: none;
    }
   
    ul{      
        width:1200px;
        margin:0 auto;         

        @include max($md){
            width:auto;
            margin:0;
            padding:0;
        }
        li{
            list-style: none;
            width:20%;
            margin:0 5px;

            a{
                color:$black;
                border:1px solid lighten($gray, 10%);
                border-radius:25px;
                width:100%;
                text-align: center;
                @include transition;
               
                
                @include max($md){
                    white-space:nowrap;
                }

                &:hover{
                    background:$violet;
                    color:$white;
                }
            }
        }
    }   
}

#downloadableResources{
    background:url(../img/downloadablebg.jpg)no-repeat 0 0;
    background-size:cover;
    padding:50px 0;
    min-height: auto;

    h2{
        color:$white;
    }
}

.downloadItem{
    display:block;
    width:100%;
    padding:10px 15px;
    color:$black;
    background:$white;
    text-decoration: none;
    margin-top:10px;
}

.mobileNav{
    .bi{
        font-size:$fsize * 2.5;
        color:$black;
    }
}

#mobileItems{
    @include max($md){
        display:none;
        width:100%;
    }
}

.currentOpenings{
    margin-top:25px;
    .jobListItem{
        padding:20px;
        background:$white;
        @include shadowbot;
        border-radius:5px;
        margin-bottom:20px;

        p{
            margin:0;
            padding:0;
        }
    }
}

.addressCol{
    p{
        font-size:$fsize - 1;
    }
}

.productDetail-certificate{
    width:75px;
    height:auto;
}

.whyus{
   .whyusCol{  
    height:400px;
    padding:30px;
    color:$white;
    @include verticalcenter;

    @include max($sm){
        height:auto;
        padding:15px;
    }

    article{
        padding-top:20px;
    }

    .icomoon{
        font-size:$fsize * 5;        
    }
   }
   .whyusimg{
    height:400px;
    object-fit: cover;
    width:100%;

    @include max($sm){
        height: auto;
    }
   }
}

.bluecol{
    background:#21bbeb;
}
.greencol{
    background:#3fd390;
}
.pinkcol{
    background:#bc0d8e;
}
.greencol2{
    background:#c4d400;
}

.visionMission{
    padding:25px 0;
    .vmCol{
        width:400px;
        height:400px;       
        border-radius: 50%;
        margin:0 auto;
        @include verticalcenter;
        padding:50px;
        color:$black;

        @include max($lg){
            width:auto;
            height:auto;
            border-radius: 0;
            padding:15px;
        }

        p{
            text-align: center;
        }
        .icomoon{
            font-size:$fsize * 4;
            margin-bottom:20px;
        }
    }
}

.whychooseSlider{
    .swiper-container{
       width:100%;
       margin:0; 
    }
    img{
        height:400px;
        width:100%;
        object-fit: cover;

        @include max($sm){
            height: auto;
        }
    }
}

.videoImg{
    .videoButton{
       @extend .utubebutton;
    }
}

.corevaluesSection{
    background:$blue;
    padding:25px 0;
}
.certificateImages{
    flex-wrap: wrap;
    .img-fluid{
        width:175px;

        @include max($sm){
            width:160px;
        }
    }
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif") no-repeat center center rgba(0,0,0,0.8)
}

.productDetailHeaderNav{
    @include max($md){
        display: none;
    }
}


