@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.videSlider {
  height: 100vh;
  position: relative;
}
@media (max-width: 576px) {
  .videSlider {
    height: 30vh;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .videSlider {
    height: 40vh;
  }
}
.videSlider .example-marquee {
  position: relative;
}
.videSlider .content {
  display: table;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}
@media (max-width: 576px) {
  .videSlider .content {
    min-height: 30vh;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .videSlider .content {
    min-height: 40vh;
  }
}
.videSlider .content .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
.videSlider .video-background-controls button {
  font-size: 32px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  line-height: 32px;
  border: none;
  background: none;
  color: white;
  filter: drop-shadow(0px 0px 1px black);
  cursor: pointer;
  opacity: 1;
  transition: all 250ms ease-in-out;
  margin-left: 10px;
}
.videSlider .video-background-controls button:hover {
  opacity: 0.5;
}
.videSlider iframe {
  transition: opacity 500ms ease-in-out;
  transition-delay: 250ms;
}
.videSlider .bannerSwiper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -25%;
}
@media (max-width: 768px) {
  .videSlider .bannerSwiper {
    left: 0;
    margin-left: 0;
  }
}
.videSlider .bannerSwiper h4 {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  color: #fff;
  font-weight: 200;
  text-shadow: 0 0 8px #333;
}

.gallery-block.grid-gallery {
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block.grid-gallery .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block.grid-gallery .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover {
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .gallery-block.grid-gallery .scale-on-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

#main {
  min-height: 600px;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

.fwhite {
  color: #fff;
}

.fsbold, .featured-services h2, .productCard .card-link, .productCard .card-title, header .header-product-col div h6, .link {
  font-weight: 600;
}

@media (max-width: 992px) {
  .masterSlider {
    padding-top: 76px;
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .masterSlider .swiper-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .masterSlider .upk-salf-slider-wrapper {
    height: 340px;
    padding: 0;
  }
  .masterSlider .upk-salf-slider-wrapper .upk-salf-title {
    color: #fff !important;
  }
  .masterSlider .upk-salf-slider-wrapper .upk-salf-desc {
    color: #fff !important;
    display: none;
  }
  .masterSlider .upk-salf-slider-wrapper .link--arrowed {
    color: #fff !important;
  }
}

.subTitle {
  color: #874080;
  border-bottom: 1px solid #874080;
  display: inline;
  padding-bottom: 8px;
}

.link {
  text-decoration: none;
  color: #000;
}
.link:hover {
  color: #874080;
}
.link .icomoon {
  position: relative;
  top: 1px;
}

a.readMorelink {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #874080;
  text-decoration: none;
}
a.readMorelink:after {
  content: "";
  width: 25px;
  height: 2px;
  background: #874080;
  position: absolute;
  right: -35px;
  top: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
a.readMorelink:before {
  content: "";
  width: 25px;
  height: 2px;
  background: #874080;
  position: absolute;
  left: -35px;
  top: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
a.readMorelink:hover:after {
  right: -45px;
}
a.readMorelink:hover:before {
  left: -45px;
}

.sectionTitle {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #000;
}
.sectionTitle span {
  font-weight: 200;
}

.sticked {
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
}
@media (max-width: 576px) {
  .sticked {
    padding: 0 0 10px 0;
  }
}
.sticked .bsnav {
  padding: 4px 25px;
}
@media (max-width: 768px) {
  .sticked .bsnav {
    padding: 0;
  }
}
.sticked .navbar-brand img {
  width: 85px !important;
}

header {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background: #fff;
}
header .bsnav {
  padding-top: 10px;
  padding-bottom: 10px;
}
header .bsnav .navbar-brand img {
  width: 125px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
@media (max-width: 992px) {
  header .bsnav .navbar-brand img {
    width: 85px;
  }
}
header .bsnav .nav-item .nav-link:hover {
  color: #874080;
}
header .bsnav .nav-item .nav-link .icomoon {
  font-size: 18px;
  position: relative;
  top: 2px;
}
header .bsnav .nav-item .active {
  color: #874080;
  padding: 20px 15px;
  display: block;
  text-decoration: none;
}
@media (max-width: 576px) {
  header .bsnav .nav-item .active {
    color: #874080 !important;
  }
}
header .navbar-toggler:focus {
  box-shadow: none;
}
header .header-product-col {
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}
header .header-product-col div {
  margin-left: 15px;
  align-self: center;
}
header .header-product-col div h6 {
  font-size: 16px;
  color: #000;
  text-align: left;
}
header .header-product-col div p {
  font-size: 12px;
  color: #5B5B5B;
  margin: 0;
  padding: 0;
  line-height: 18px;
  display: none;
}
header .header-product-col img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 3px;
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
}
header .header-product-col:hover h6 {
  color: #874080;
}
header .rightnav .nav-item .nav-link {
  color: #fff;
  background: #874080 !important;
  border: 1px solid transparent;
}
header .rightnav .nav-item .nav-link:hover {
  border: 1px solid #874080;
  color: #874080;
  background: #fff !important;
}

.customBtn {
  background: #874080;
  color: #fff;
  padding: 10px 20px !important;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
}
.customBtn:hover {
  background: #fff;
  border: 1px solid #874080;
  color: #874080;
}

.isoSection {
  background: #874080;
  padding: 25px 0;
}
@media (max-width: 576px) {
  .isoSection {
    padding: 15px 0;
  }
}
.isoSection p {
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
}
.isoSection p span {
  font-weight: 600;
}
@media (max-width: 576px) {
  .isoSection p {
    padding: 0 12px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #fff;
  }
}

@media (max-width: 576px) {
  .popularProducts .swiper-container {
    margin-left: 10px;
  }
}
.popularProducts .productsSlider {
  padding-top: 70px;
}
.popularProducts .productsSlider .swiper-slide {
  text-align: center;
}
.popularProducts .productsSlider .swiper-slide img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 10px solid #fff;
}
.popularProducts .productsSlider .swiper-slide img:hover {
  filter: grayscale(100%);
  transform: translateY(-25px);
  box-shadow: 0 0 10px #ccc;
}
.popularProducts .productsSlider .swiper-slide article {
  padding: 0 15px 0 0;
  text-align: center;
}
.popularProducts .productsSlider .swiper-slide article h5 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #000;
  padding: 10px 0;
}
.popularProducts .productsSlider .swiper-slide article p {
  font-size: 14px;
  color: gray;
}
.popularProducts .productsSlider .swiper-button-next, .popularProducts .productsSlider .swiper-button-prev {
  top: 26px;
}
.popularProducts .productsSlider .swiper-button-next:after, .popularProducts .productsSlider .swiper-button-prev:after {
  color: #874080;
  font-size: 25px;
}
.popularProducts .productsSlider .swiper-button-next {
  right: 47%;
}
@media (max-width: 992px) {
  .popularProducts .productsSlider .swiper-button-next {
    right: 38%;
  }
}
.popularProducts .productsSlider .swiper-button-prev {
  left: 47%;
}
@media (max-width: 992px) {
  .popularProducts .productsSlider .swiper-button-prev {
    left: 38%;
  }
}
.popularProducts .productsSlider .swiper-button-prev:after {
  color: #874080;
  font-size: 25px;
}

.productsSliderProductDetail {
  padding-top: 50px;
}

.realtedProducts {
  padding-top: 0;
  background: url(../img/worn-dots.png) repeat 0 0;
}
.realtedProducts .h4 {
  position: relative;
  top: 54px;
}
.realtedProducts .swiper-button-next, .realtedProducts .swiper-button-prev {
  top: 14px;
}
.realtedProducts .swiper-button-next:after, .realtedProducts .swiper-button-prev:after {
  color: #874080;
  font-size: 25px;
}
.realtedProducts .swiper-button-next {
  right: 0;
}
@media (max-width: 768px) {
  .realtedProducts .swiper-button-next {
    right: 0;
  }
}
.realtedProducts .swiper-button-prev {
  left: 95%;
}
@media (max-width: 992px) {
  .realtedProducts .swiper-button-prev {
    left: 80%;
  }
}
.realtedProducts .swiper-button-prev:after {
  color: #874080;
  font-size: 25px;
}

.qualityPolicy {
  background: #f5eaf4;
  min-height: 500px;
}
.qualityPolicy .img-fluid {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.qualityPolicy .qualityTextLink {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #000;
}
.qualityPolicy .qualityCol {
  padding: 10px 0;
}
.qualityPolicy .qualityCol .iconDiv {
  width: 128px;
  height: 128px;
  background: #874080;
  margin: 0 auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}
.qualityPolicy .qualityCol .iconDiv .icomoon {
  font-size: 50px;
  color: #fff;
}
.qualityPolicy .qualityCol h6 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
}

.aboutHome {
  padding: 50px 0;
}
.aboutHome h2 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: #000;
}
@media (max-width: 768px) {
  .aboutHome h2 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000;
  }
}

.ourStrength {
  background: url(../img/strengthbg.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
}
.ourStrength:before {
  content: "";
  background-color: rgba(0, 61, 68, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ourStrength .strengthItem {
  padding: 12px 0;
  position: relative;
}
.ourStrength .strengthItem .strengthDesc {
  width: 75%;
  margin: 12px auto;
}
.ourStrength .strengthItem .strengthDesc p {
  font-size: 16px;
}
@media (max-width: 992px) {
  .ourStrength .strengthItem {
    margin-right: 0px;
  }
}
.ourStrength .strengthItem .strengthIcon {
  width: 112px;
  height: 112px;
  background: #4DBBC8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.ourStrength .strengthItem .strengthIcon:hover {
  border: 5px solid #874080;
  transform: translateY(-20px);
}
@media (max-width: 768px) {
  .ourStrength .strengthItem .strengthIcon {
    margin: 0 auto;
  }
}
.ourStrength .strengthItem .strengthIcon .icomoon {
  font-size: 45px;
  color: #fff;
}
.ourStrength .strengthItem p {
  color: #fff;
}
.ourStrength h2 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #fff;
}

footer .topFooter {
  background: #874080;
  color: #fff;
}
footer .topFooter h3 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  footer .topFooter h3 {
    padding: 10px 0;
  }
}
footer .topFooter .footerLinks li {
  list-style: none;
}
footer .topFooter .footerLinks li a.nav-link {
  color: #fff;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(237, 217, 235, 0.3);
  padding: 0.5rem 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
}
footer .topFooter .footerLinks li a.nav-link:hover {
  border-bottom: 1px solid #edd9eb;
  transform: translateX(15px);
}
footer .topFooter .footerLinks li .active {
  color: #fff;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(237, 217, 235, 0.3);
  padding: 0.5rem 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-bottom: 1px solid #fff;
  transform: translateX(15px);
}
@media (max-width: 768px) {
  footer .topFooter .footerSocial {
    padding-bottom: 20px;
  }
}
footer .topFooter .footerSocial a {
  padding: 12px;
  background: #fff;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 22px;
}
footer .topFooter .footerSocial a .icomoon {
  font-size: 17px;
  color: #000;
}
footer .topFooter .footerSocial a:hover {
  background: #64305f;
}
footer .topFooter .footerSocial a:hover .icomoon {
  color: #fff;
}
footer .bottomFooter {
  background: #64305f;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
footer .bottomFooter p {
  padding: 0;
  margin: 0;
  font-size: 13px;
}
footer .moveTop {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  position: fixed;
  bottom: 11px;
  right: 25px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: none;
  background: #4DBBC8;
  z-index: 9999;
  text-decoration: none;
}
footer .moveTop:hover {
  border-radius: 50%;
}
footer .moveTop .icomoon {
  color: #fff;
}

.customForm {
  background: #f1fafb;
  padding: 25px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
}
.customForm .form-group {
  background: #fff;
  margin-bottom: 10px;
  padding: 12px;
}
.customForm label {
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 2px;
}
.customForm .form-control {
  background: none;
  border: 1px solid #9bd9e0;
  border-radius: 0;
  height: 40px;
  font-size: 14px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.customForm .form-control:focus {
  border: 1px solid #9bd9e0;
  outline: none;
  box-shadow: none;
}
.customForm .form-control:hover {
  border: 2px solid #4DBBC8;
}

.utubebutton, .videoImg .videoButton, .subPage .subPageHeader .leftsubpageHeader figure .customBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 29px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  margin-left: -30px;
}
.utubebutton .icon-play-button, .videoImg .videoButton .icon-play-button, .subPage .subPageHeader .leftsubpageHeader figure .customBtn .icon-play-button {
  font-size: 25px;
}
.utubebutton:hover, .videoImg .videoButton:hover, .subPage .subPageHeader .leftsubpageHeader figure .customBtn:hover {
  background: #fff;
}
.utubebutton:hover .icomoon, .videoImg .videoButton:hover .icomoon, .subPage .subPageHeader .leftsubpageHeader figure .customBtn:hover .icomoon {
  color: #874080;
}

.subPage {
  min-height: 400px;
  padding-top: 95px;
}
@media (max-width: 768px) {
  .subPage {
    padding-top: 80px;
  }
}
.subPage .subPageHeader {
  background-color: #4DBBC8;
}
.subPage .subPageHeader .leftsubpageHeader {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .subPage .subPageHeader .leftsubpageHeader {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
.subPage .subPageHeader .leftsubpageHeader figure {
  position: relative;
}
.subPage .subPageHeader .leftsubpageHeader figure img {
  width: 100%;
}
.subPage .subPageHeader .leftsubpageHeader h1 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #fff;
}
@media (max-width: 768px) {
  .subPage .subPageHeader .leftsubpageHeader h1 {
    text-align: left;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    padding: 15px 25px;
  }
}
.subPage .subPageHeader .breadcrumb {
  padding-left: 25px;
  margin: 0;
}
.subPage .subPageHeader .breadcrumb .breadcrumb-item {
  font-size: 13px;
}
.subPage .subPageHeader .breadcrumb .breadcrumb-item:before {
  content: "\e90a";
  color: #fff;
  font-family: "icomoon" !important;
  font-size: 10px;
  position: relative;
  top: 1px;
}
.subPage .subPageHeader .breadcrumb .breadcrumb-item:first-child:before {
  content: "";
}
.subPage .subPageHeader .breadcrumb .breadcrumb-item a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.subPage .subPageHeader .breadcrumb .active {
  color: #236a72;
}
.subPage .productDetailHeader {
  background: url(../img/washi.png) repeat 0 0 !important;
  background-size: cover;
  background-color: #fff;
  padding: 15px 0;
}
@media (max-width: 576px) {
  .subPage .productDetailHeader {
    padding: 0;
  }
}
.subPage .productDetailHeader h1 {
  color: #874080;
}
.subPage .productDetailHeader .leftsubpageHeader {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 576px) {
  .subPage .productDetailHeader .leftsubpageHeader {
    padding-top: 0;
  }
}
.subPage .productDetailHeader .leftsubpageHeader figure {
  position: relative;
  padding: 10px;
  background: #fff;
  margin: 0;
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
}
@media (max-width: 768px) {
  .subPage .productDetailHeader .leftsubpageHeader figure {
    padding: 0;
  }
}
.subPage .productDetailHeader .leftsubpageHeader figure .headerimg {
  border-radius: 10px;
}
.subPage .subpageBody {
  padding: 50px 0;
}
@media (max-width: 768px) {
  .subPage .subpageBody .mobileNav.sticky {
    width: 91%;
  }
}
@media (max-width: 576px) {
  .subPage .subpageBody {
    padding: 15px 0;
  }
}
.subPage .subpageBody p {
  font-size: 15px;
  padding-bottom: 20px;
  text-align: justify;
  margin-bottom: 0;
}
.subPage .subpageBody .list-items {
  margin: 15px 0;
}
.subPage .subpageBody .list-items li {
  font-size: 15px;
  padding-bottom: 20px;
  text-align: justify;
  list-style: none;
  position: relative;
}
.subPage .subpageBody .list-items li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #874080;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -22px;
  border: 2px solid #64305f;
}
.subPage .subpageBody h2 {
  font-size: clamp(2rem, 2vw, 1rem);
  font-weight: 600;
}
.subPage .subpageBody h6 {
  color: #874080;
  display: inline;
  padding-bottom: 5px;
  border-bottom: 1px solid #874080;
  margin-bottom: 20px;
}
.subPage .subpageBody .brdimg {
  position: relative;
}
.subPage .subpageBody .brdimg:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 10px solid #4DBBC8;
  position: absolute;
  top: -15px;
  left: -15px;
}
@media (max-width: 768px) {
  .subPage .subpageBody .brdimg:before {
    display: none;
  }
}
.subPage .subpageBody .regulatoryImg {
  position: relative;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 314px;
  -o-object-fit: cover;
     object-fit: cover;
}
.subPage .subpageBody .regulatoryImg:hover {
  filter: grayscale(100%);
}
.subPage .subpageBody .rtContact {
  background: #fff;
  min-height: 500px;
  padding: 30px;
}
.subPage .subpageBody .rtContact .table td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.subPage .subpageBody .rtContact .table td.leftlabel {
  padding-right: 25px;
}
.subPage .subpageBody ::-moz-placeholder {
  font-size: 12px;
  color: #404040;
}
.subPage .subpageBody :-ms-input-placeholder {
  font-size: 12px;
  color: #404040;
}
.subPage .subpageBody ::placeholder {
  font-size: 12px;
  color: #404040;
}
.subPage .subpageBody .address .leftlabel {
  color: #874080;
  font-weight: 600;
}
.subPage .subpageBody .address td p {
  font-size: 14px !important;
}
.subPage .subpageBody .bannerProduct {
  position: relative;
}
.subPage .subpageBody .bannerProduct .videoIcon {
  background: rgba(0, 0, 0, 0.5);
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subPage .subpageBody .bannerProduct .videoIcon a {
  text-decoration: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.subPage .subpageBody .bannerProduct .videoIcon a .icomoon {
  color: #fff;
  font-size: 75px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
@media (max-width: 576px) {
  .subPage .subpageBody .bannerProduct .videoIcon a .icomoon {
    font-size: 45px;
  }
}
.subPage .subpageBody .bannerProduct .videoIcon a:hover .icomoon {
  color: rgba(77, 187, 200, 0.8);
}

.video-modal .modalvideo {
  height: 480px;
}
.video-modal .close {
  background: none;
  border: none;
}
.video-modal .close .icomoon {
  font-size: 30px;
}

@media (max-width: 992px) {
  .bsnav-mobile .navbar-nav .nav-item .active {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px;
    background: #874080;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .bsnav-mobile .navbar-nav .nav-item .nav-link {
    padding: 12px;
    display: block;
    background: #dedede;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .submenu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .submenu .nav-link {
    background: #f2f2f2 !important;
  }
  .submenu .activesubnav {
    background: #874080;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
}
.productCard {
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.productCard img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.productCard:hover {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.productCard:hover .card-title {
  color: #874080;
}
.productCard:hover img {
  filter: grayscale(100%);
}
.productCard .card-title {
  font-size: 17px;
}
.productCard .card-text {
  font-size: 14px;
  color: #5B5B5B;
  text-align: left !important;
  padding-bottom: 0;
}
.productCard .card-link {
  color: #000;
  text-decoration: none;
}
.productCard .card-link:hover {
  color: #874080;
}

.featured-services {
  min-height: 200px;
  padding: 50px 0;
}
@media (max-width: 768px) {
  .featured-services {
    min-height: auto;
    padding: 20px 0;
  }
}
.featured-services h2 {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem) !important;
  color: #874080;
}
.featured-services .h4 {
  color: #874080;
  border-color: #874080;
}

.stickynav {
  position: fixed;
  top: 65px;
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
  z-index: 99;
}
@media (max-width: 768px) {
  .stickynav {
    width: 91%;
  }
}

.navbar-productdetail {
  box-shadow: none;
  background: #fff;
  z-index: 99;
}
@media (max-width: 992px) {
  .navbar-productdetail {
    display: none;
  }
}
.navbar-productdetail ul {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .navbar-productdetail ul {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
.navbar-productdetail ul li {
  list-style: none;
  width: 20%;
  margin: 0 5px;
}
.navbar-productdetail ul li a {
  color: #000;
  border: 1px solid #959595;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
@media (max-width: 768px) {
  .navbar-productdetail ul li a {
    white-space: nowrap;
  }
}
.navbar-productdetail ul li a:hover {
  background: #874080;
  color: #fff;
}

#downloadableResources {
  background: url(../img/downloadablebg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 50px 0;
  min-height: auto;
}
#downloadableResources h2 {
  color: #fff;
}

.downloadItem {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #000;
  background: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.mobileNav .bi {
  font-size: 37.5px;
  color: #000;
}

@media (max-width: 768px) {
  #mobileItems {
    display: none;
    width: 100%;
  }
}

.currentOpenings {
  margin-top: 25px;
}
.currentOpenings .jobListItem {
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -ms-box-shadow: 0 2px 4px #ccc;
  -o-box-shadow: 0 2px 4px #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.currentOpenings .jobListItem p {
  margin: 0;
  padding: 0;
}

.addressCol p {
  font-size: 14px;
}

.productDetail-certificate {
  width: 75px;
  height: auto;
}

.whyus .whyusCol {
  height: 400px;
  padding: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  .whyus .whyusCol {
    height: auto;
    padding: 15px;
  }
}
.whyus .whyusCol article {
  padding-top: 20px;
}
.whyus .whyusCol .icomoon {
  font-size: 75px;
}
.whyus .whyusimg {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (max-width: 576px) {
  .whyus .whyusimg {
    height: auto;
  }
}

.bluecol {
  background: #21bbeb;
}

.greencol {
  background: #3fd390;
}

.pinkcol {
  background: #bc0d8e;
}

.greencol2 {
  background: #c4d400;
}

.visionMission {
  padding: 25px 0;
}
.visionMission .vmCol {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  color: #000;
}
@media (max-width: 992px) {
  .visionMission .vmCol {
    width: auto;
    height: auto;
    border-radius: 0;
    padding: 15px;
  }
}
.visionMission .vmCol p {
  text-align: center;
}
.visionMission .vmCol .icomoon {
  font-size: 60px;
  margin-bottom: 20px;
}

.whychooseSlider .swiper-container {
  width: 100%;
  margin: 0;
}
.whychooseSlider img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  .whychooseSlider img {
    height: auto;
  }
}

.corevaluesSection {
  background: #4DBBC8;
  padding: 25px 0;
}

.certificateImages {
  flex-wrap: wrap;
}
.certificateImages .img-fluid {
  width: 175px;
}
@media (max-width: 576px) {
  .certificateImages .img-fluid {
    width: 160px;
  }
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif") no-repeat center center rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .productDetailHeaderNav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */